google-genai
Pillow
google-generativeai
google-cloud-texttospeech
pdfplumber
faiss-cpu
sentence_transformers
prompt_toolkit
pymupdf
tiktoken
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests
markdown2
langdetect
chromadb
easyocr
langchain-google-genai